<div class="timeline-header">
  <span>Timeline</span>
</div>
<div [class.locked]="isPlaying" cdkDropListOrientation="horizontal" cdkDropList class="timeline" (cdkDropListDropped)="drop($event)"
  (dragover)="allowDrop($event)" (drop)="dropExternal($event)">
  <div *ngIf="timeline.length === 0" class="empty-message">
    <span>Please drag scenes</span>
  </div>
  <div *ngFor="let scene of timeline; let i = index" cdkDrag class="timeline-item">
    <span>{{ scene.name }}</span>
    <mat-icon class="delete-icon" (click)="removeScene(i)">close</mat-icon>
  </div>
</div>
